<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>目标跟踪</title>
    <style>
        canvas {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<canvas id="canvas" width="1280" height="720"></canvas>
<br>
<button id="track-button">跟踪目标</button>
<button id="stop-button">停止跟踪</button>
<button id="stop-video">停止播放</button>
<script>
    const canvas = document.getElementById('canvas');
    const ctx = canvas.getContext('2d');
    let rect = {x: 0, y: 0, width: 0, height: 0};
    let target = null;
    let isDragging = false;
    // 每秒更新一次图像
    let intervalId = null;


    canvas.addEventListener('mousedown', function (event) {
        rect.x = event.offsetX;
        rect.y = event.offsetY;
        isDragging = true;
    });

    canvas.addEventListener('mousemove', function (event) {
        if (isDragging) {
            rect.width = event.offsetX - rect.x;
            rect.height = event.offsetY - rect.y;
            draw();
        }
    });

    canvas.addEventListener('mouseup', function (event) {
        isDragging = false;
        target = {
            x: rect.x,
            y: rect.y,
            width: rect.width,
            height: rect.height
        };
        fetch('/StartTracking', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({init_rect: target})
        })
            .then(response => response.text())
            .then(data => {
                rect = {x: 0, y: 0, width: 0, height: 0};
                console.log(data);
            })
            .catch(error => {
                console.error(error);
            });
    });

    function draw() {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
        ctx.strokeStyle = 'green';
        ctx.lineWidth = 2;
        if (rect.width && rect.height) {
            ctx.strokeRect(rect.x, rect.y, rect.width, rect.height);
        }
    }

    const img = new Image();
    img.onload = function () {
        draw();
    };
    const stopVideo = document.getElementById('stop-video');
    stopVideo.addEventListener('click', function (event) {
        fetch('/StopPlay')
            .then(response => response.json())
            .then(data => {
                ctx.fillStyle = 'red';
                ctx.fillRect(0, 0, canvas.width, canvas.height);
                console.log(data)
            })
            .catch(error => console.error(error));
    });

    const stopButton = document.getElementById('stop-button');
    stopButton.addEventListener('click', function (event) {
        fetch('/StopTracking')
            .then(response => response.json())
            .then(data => {

                console.log(data)
            })
            .catch(error => console.error(error));
    });

    const trackButton = document.getElementById('track-button');
    // trackButton.addEventListener('click', function (event) {
    //     // 如果没有选择目标，那么不能进行跟踪
    //
    //     let selZoom = {startX: rect.x, startY: rect.y, endX: rect.x + rect.width, endY: rect.y + rect.height}
    //     fetch('/SetDisplaySize', {
    //         method: 'POST',
    //         headers: {
    //             'Content-Type': 'application/json'
    //         },
    //         body: JSON.stringify({selZoom: selZoom})
    //     })
    //         .then(response => response.text())
    //         .then(data => {
    //
    //             console.log(data);
    //         })
    //         .catch(error => {
    //             console.error(error);
    //         });
    //     target = {
    //         x: rect.x,
    //         y: rect.y,
    //         width: rect.width,
    //         height: rect.height
    //     };
    //     fetch('/StartTracking', {
    //         method: 'POST',
    //         headers: {
    //             'Content-Type': 'application/json'
    //         },
    //         body: JSON.stringify({init_rect: target})
    //     })
    //         .then(response => response.text())
    //         .then(data => {
    //             rect = {x: 0, y: 0, width: 0, height: 0};
    //             console.log(data);
    //         })
    //         .catch(error => {
    //             console.error(error);
    //         });
    //     // 每隔一段时间获取当前图像并显示在页面上
    //     intervalId = setInterval(function () {
    //         img.src = '/video_feed';
    //     }, 100);
    //     // TODO: 添加目标跟踪代码
    // });

    SetCamera("192.168.0.96", "443", "26324374", "Ai2HjDzjn2rtyPzRQRqg", "40f37bb1118049f6b3925cd2c31543ba")

    function SetCamera(IscHost, IscPort, Appkey, Secret, CameraIndexCode) {
        fetch('/SetCamera', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                address: IscHost + ":" + IscPort,
                appkey: Appkey,
                secret: Secret,
                id: CameraIndexCode
            })
        })
            .then(response => response.text())
            .then(data => {

                intervalId = setInterval(function () {
                    img.src = '/video_feed';
                }, 100);
                console.log(data);
            })
            .catch(error => {
                console.error(error);
            });
    }
</script>
</body>
</html>
