<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>目标跟踪</title>
</head>
<style>
    canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
<body>
<canvas id="canvas" width="2048" height="1536"></canvas>
<br>

<script>

    let target = null;
    let isDragging = false;
    // 每秒更新一次图像
    let intervalId = null;

    const canvas = document.getElementById('canvas');
    const ctx = canvas.getContext('2d');
    let rect = {x: 0, y: 0, width: 0, height: 0};
    canvas.addEventListener('mousedown', function (event) {
        rect.x = event.offsetX;
        rect.y = event.offsetY;
        isDragging = true;
    });

    canvas.addEventListener('mousemove', function (event) {
        if (isDragging) {
            // 计算终点坐标和矩形的宽度和高度
            rect.width = Math.abs(event.offsetX - rect.x);
            rect.height = Math.abs(event.offsetY - rect.y);
            rect.x = Math.min(event.offsetX, rect.x);
            rect.y = Math.min(event.offsetY, rect.y);
            draw();
        }
    });

    canvas.addEventListener('mouseup', function (event) {
        isDragging = false;
        // 计算终点坐标和矩形的宽度和高度
        let endX = event.offsetX;
        let endY = event.offsetY;
        rect.width = Math.abs(endX - rect.x);
        rect.height = Math.abs(endY - rect.y);
        rect.x = Math.min(endX, rect.x);
        rect.y = Math.min(endY, rect.y);
        target = {
            x: rect.x,
            y: rect.y,
            width: rect.width,
            height: rect.height
        };
        if (rect.width !== 0 && rect.height !== 0) {
            let calculation = OffsetCalculation();

            fetch('/StartTracking', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({init_rect: calculation})
            })
                .then(response => response.text())
                .then(data => {
                    rect = {x: 0, y: 0, width: 0, height: 0};
                    console.log(data);
                })
                .catch(error => {
                    console.error(error);
                });
        }
    });

    function draw() {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
        ctx.strokeStyle = 'green';
        ctx.lineWidth = 2;
        // 绘制矩形
        if (rect.width && rect.height) {
            ctx.strokeRect(rect.x, rect.y, rect.width, rect.height);
        }
    }

    const img = new Image();
    img.loaded = false;
    img.onload = function () {
        img.loaded = true;
        draw();
    };
    // img.onload = function () {
    //     draw();
    // };

    document.addEventListener('keydown', function (event) {
        if (event.key === " ") { // 如果按下了空格键
            StopPlay()
        } else if (event.key === "Enter") { // 如果按下了回车键
            StopTracking()
        }
    });

    // 偏移计算,1920, 1080 2048, 1536 1920, 1080
    function OffsetCalculation() {
        const width = canvas.offsetWidth / 2048;
        const height = canvas.offsetHeight / 1536;
        rect.x = Math.round(rect.x / width)
        rect.y = Math.round(rect.y / height)
        rect.width = Math.round(rect.width / width)
        rect.height = Math.round(rect.height / height)
        return rect
    }

    function resizeCanvas() {
        canvas.width = window.innerWidth;
        canvas.height = window.innerHeight;
        // 进行其他操作或重绘画布
    }

    // 初次加载需要设置canvas宽高
    resizeCanvas();

    // 监听窗口大小的变化
    window.addEventListener('resize', resizeCanvas);

    SetCamera("192.168.0.99", "443", "20081214", "14FTwMEZ3WHnRIp9jrnc", "43bf566cb4e4417e8e825692df50f68c")


    //设置摄像头移动速度
    SetMovementSpeed(18)

    function SetMovementSpeed(speed) {
        fetch('/SetMovementSpeed', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({speed: speed})
        })
            .then(response => response.text())
            .then(data => {
                console.log(data)
            })
            .catch(error => {
                console.error(error);
            });
    }

    function StartTracking() {
        target = {
            x: rect.x,
            y: rect.y,
            width: rect.width,
            height: rect.height
        };
        if (rect.x !== 0 && rect.y !== 0 && rect.width !== 0 && rect.height) {
            let calculation = OffsetCalculation();
            fetch('/StartTracking', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({init_rect: calculation})
            })
                .then(response => response.text())
                .then(data => {
                    rect = {x: 0, y: 0, width: 0, height: 0};
                    console.log(data);
                })
                .catch(error => {
                    console.error(error);
                });
            // 每隔一段时间获取当前图像并显示在页面上
            // intervalId = setInterval(function () {
            //     img.src = '/video_feed';
            // }, 30);
            // intervalId = setInterval(function () {
            //     if (img.loaded) {
            //         img.loaded = false; // 将 loaded 设置为 false，以便在新图像加载完成后再次执行 draw()
            //         img.src = '/video_feed';
            //     }
            // }, 30);
        }
    }

    function SetDisplaySize() {
        let selZoom = {startX: rect.x, startY: rect.y, endX: rect.x + rect.width, endY: rect.y + rect.height}
        fetch('/SetDisplaySize', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({selZoom: selZoom})
        })
            .then(response => response.text())
            .then(data => {

                console.log(data);
            })
            .catch(error => {
                console.error(error);
            });
    }

    function StopTracking() {
        fetch('/StopTracking')
            .then(response => response.json())
            .then(data => {
                console.log(data)
            })
            .catch(error => console.error(error));
    }

    function StopPlay() {
        fetch('/StopPlay')
            .then(response => response.json())
            .then(data => {
                ctx.fillStyle = 'red';
                // 声明变量，获取 setTimeout 的返回值
                ctx.clearRect(0, 0, canvas.width, canvas.height)
            })
            .catch(error => console.error(error));
    }

    function SetCamera(IscHost, IscPort, Appkey, Secret, CameraIndexCode) {
        fetch('/SetCamera', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                address: IscHost + ":" + IscPort,
                appkey: Appkey,
                secret: Secret,
                id: CameraIndexCode
            })
        })
            .then(response => response.text())
            .then(data => {
                intervalId = setInterval(function () {
                    img.src = '/video_feed';
                },30);
            })
    }

        // 使用 requestAnimationFrame() 函数循环绘制 Canvas

        window.onbeforeunload = function () {
            StopTracking();
            StopPlay();
        };

</script>
</body>
</html>
